<section class="products">
  <div class="products__inner container">
    <h2 class="products__title side-line">Products</h2>
    <ul class="products__list">
      <li class="products__item">
        <a href="">
          <div class="products__icon-wrapper products__icon-wrapper--design">
          </div>
          <h3 class="products__item-title">Kreo Design</h3>
          <p>3D BIM design automation solution for residential and commercial construction powered by AI</p>
          <div class="products__btn">Sign up for updates</div>
          <span class="no-active">learn more</span>
        </a>
      </li>
      <li class="products__item">
        <a href="">
          <div class="products__icon-wrapper products__icon-wrapper--view"></div>
          <h3 class="products__item-title">Kreo View</h3>
          <p>Share and visualise your BIM model, collaborate and communicate with your team online via built-in chat channel.</p>
          <div class="products__btn">Watch demo</div>
          <span>learn more</span>
        </a>
      </li>
      <li class="products__item">
        <a href="">
          <div class="products__icon-wrapper products__icon-wrapper--plan"></div>
          <h3 class="products__item-title">Kreo Plan</h3>
          <p>Cloud-based 5D Bim software with Artificial Intelligence at its core.</p>
          <div class="products__btn">Watch demo</div>
          <span>learn more</span>
        </a>
      </li>
    </ul>
  </div>
</section>
