<section class="products" id="line">
  <div class="products__inner container">
    <h2 class="products__title side-line">Products</h2>
    <ul class="products__list">
      <li class="products__item">
        <div class="products__icon-wrapper products__icon-wrapper--view"></div>
        <h3 class="products__item-title">Kreo View</h3>
        <p>Share and visualise your BIM model, collaborate and communicate with your team online via built-in chat channel</p>
        <a href="https://www.kreo.net/kreo-view" class="products__btn products__btn--view btn btn--orange">Learn more</a>
        <a href="https://www.youtube.com/watch?v=g7C9-OCVGzk" data-lity>Watch demo</a>
      </li>
      <li class="products__item">
        <div class="products__icon-wrapper products__icon-wrapper--design">
        </div>
        <h3 class="products__item-title">Kreo Design</h3>
        <p>BIM design software for architecture, engineering and construction (AEC) with Intelligence</p>
        <a href="#signUp" class="products__btn products__btn--design btn btn--orange" data-lity>Sign up for updates</a>
        <a class="products__no-active">learn more</a>
      </li>
      <li class="products__item">
        <div class="products__icon-wrapper products__icon-wrapper--plan"></div>
        <h3 class="products__item-title">Kreo Plan</h3>
        <p>Cloud-based 5D Bim software with Artificial Intelligence at its core</p>
        <a href="https://www.kreo.net/kreo-plan" class="products__btn products__btn--plan btn btn--orange">Learn more</a>
        <a href="https://www.youtube.com/watch?v=k_GNhW5nQHo" data-lity>Watch demo</a>
      </li>
    </ul>
  </div>
</section>
