<section class="promo">
  <div class="promo__inner">
    <header class="promo__header">
      <div class="container">
        <h1>BIM Construction<br>with Intelligence</h1>
        <p>Artificial Intelligence for better and faster BIM design collaboration and construction cost estimating, scheduling and bidding.</p>
      </div>
    </header>
    <div class="promo__content container">
      <h2>What is Kreo?</h2>
      <p>Kreo is an advanced BIM design collaboration and BIM construction solution. It harnesses the power of Artificial Intelligence to transform the construction project collaboration, quantity take-off, cost estimating, scheduling and bidding processes.
      </p>
      <p>It brings together all your BIM construction planning resources in a single, cloud-based integrated platform that reduces friction, improves the collaboration and productivity of your team. This gives all your stakeholders a powerful tool to improve the quality of project planning and reduce bidding costs.</p>
    </div>
  </div>
</section>
