
.promo
  &__header
    position relative
    background-color #638BD3
    min-height 470px
    padding-top 95px
    overflow: hidden;
    &::after
      position absolute
      content ''
      width: 0;
      height: 0;
      bottom 0
      left 0
      border-style: solid;
      border-width: 0 978px 70px 700px;
      border-color: transparent transparent #fff transparent;
    &::before
      position absolute
      content ''
      width: 0;
      height: 0;
      left 0
      bottom 0
      border-style: solid;
      border-width: 65px 0 71px 700px;
      border-color: transparent transparent transparent #4771bc;
    h1
      margin-bottom 35px
      font-size 56px
      line-height 72px
      color #fff
      font-weight 400
    p
      max-width 550px
      font-size 22px
      line-height 26px
      color #fff
  &__content
    padding-top 55px
    padding-bottom 55px
    h2
      margin-bottom 20px
      font-size 32px
      line-height 1
      color #1d2029
    p
      font-size 16px
      line-height 22px
      color #21242e
      &:not(:last-of-type)
        margin-bottom 20px

