.features
  background-color #F5F6F7
  &__inner
    padding-top 60px
    padding-bottom 60px
  &__title
    margin-bottom 55px
    padding-left 25px
    font-size 32px
    line-height 40px
    color #37474f
    font-weight 400
    text-transform uppercase
  &__list
    row-flex()
    margin-top -30px
  &__item
    col()
    size(4)
    size-md(6)
    size-xs(12)
    display flex
    flex-direction column
    padding 40px
    background-color: #fff
    box-shadow 0 10px 30px 0 rgba(51,56,71,0.08)
    margin-top 30px
  &__item-title
    margin-bottom 20px
    color #343948
    font-size 20px
    line-height 26px
    font-weight 400
  &__video-wrap
    margin-top auto
    width auto
    height auto
    background-color rgba(0,0,0,.1)
    img
      width 100%
  &__hint
    position relative
    margin-top 20px
    &::after
      position absolute
      content ''
      top 99%
      left 0
      height 20px
      width 100%
    // &:hover,
    // &:focus
    //   & > .hint-wrapper
    //     display block
    a
      display inline-block
      vertical-align top
      color #5C8AE6
      font-size 12px
      line-height 22px
      font-weight 400
      text-transform uppercase
      i
        display inline-block
        vertical-align top
        font-size 16px
        font-style normal
.hint-wrapper
  // position absolute
  // left 0
  // top 30px
  width 800px
  // display none
  padding 26px 30px 30px
  background-color #fff
  box-shadow: 0 1px 13px 0 rgba(52,57,72,0.08)
  border-radius 3px
  z-index 2
  xxs-block(@block{
    width 290px
    max-height 350px
    overflow-y scroll
    margin 0 auto
  })
  p
    margin-bottom 20px
    color #000
    font-weight 400
    font-size 14px
    line-height 20px
  ul
    max-width 300px
    li
      position relative
      padding-left 16px
      color #455a64
      font-size 14px
      line-height 1.5
      font-weight 300
      margin-bottom 10px
      &::before
        position absolute
        content ''
        left 0
        top 7px
        width 6px
        height 6px
        background-color: #F58240
        border-radius 50%
  a
    color #ff7043
.youtube-video
  position relative
  display block
  height 100%
  font-size 0
  &::before
    position absolute
    content ''
    left 51%
    top 53.5%
    transform translate(-51%, -53.5%)
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0 12px 18px;
    border-color: transparent transparent transparent #fff
    border-radius 3px
    z-index 1
  &::after
    position absolute
    content ''
    width 70px
    height 70px
    background-color: rgba(255,112,66,0.8)
    border-radius 50%
    left 50%
    top 55%
    transform translate(-50%, -55%)
  &:hover
    &::after
      background-color: rgba(255,112,66,1)
  img
    position relative
