<section class="features">
  <div class="features__inner container">
    <h2 class="features__title side-line">features</h2>
    <ul class="features__list" id="features">
      {{#each this}}
        <li class="features__item">
          <h3 class="features__item-title">{{title}}</h3>
          <div class="features__video-wrap">
            {{#if this.bg}}
              <a href="{{bg}}">
                <img src="{{bg}}" width="" height="" alt="" />
              </a>
            {{else}}
              <a class="youtube-video" href="https://www.youtube.com/watch?v={{url}}" data-lity>Video
                <img src="https://img.youtube.com/vi/{{srcId}}/maxres{{imgVer}}.jpg" width="280" height="148" alt="" />
              </a>
            {{/if}}
          </div>
          {{#if this.hint}}
            <div class="features__hint">
              <span>more info <i>&#9432;</i></span>
              <div class="hint-wrapper">
                {{#if hint.title}}
                  <p>{{{hint.title}}}</p>
                {{/if}}
                <ul>
                  {{#each hint.list}}
                    <li>{{{item}}}</li>
                  {{/each}}
                </ul>
              </div>
            </div>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>
</section>
