// Common styles of the project
html, body
  height 100%

html
  box-sizing border-box

*, *::before, *::after
  box-sizing inherit
  // outline 1px solid

.page
  font-family $customFont
  font-weight 400
  -webkit-text-size-adjust: 100%;

img
  max-width 100%
  height auto

a
  text-decoration none
  // -webkit-text-decoration-skip: ink;
  //   text-decoration-skip: ink;

ul
  list-style none
  padding 0
  margin 0

h1,h2,h3,p
  margin 0
  padding 0
p,span,li
  letter-spacing 0
.container
  wrapper()

.page__inner
  display -webkit-flex
  display -moz-flex
  display -ms-flex
  display -o-flex
  display flex
  flex-direction column
  min-height 100vh

main
  flex-grow 1

.page--index
  .sign-up--header
    display none

.sign-up--header
  xs-block(@block{
    display none
  })

.page--index
  .promo__header
    min-height 460px
    padding-top 135px
.btn
  &--orange
    transition all .2s linear
    background-color #ff7043
    &:hover,
    &:focus
      background-color #FF8962
