// Common styles of the project
html, body
  height 100%

html
  box-sizing border-box

*, *::before, *::after
  box-sizing inherit

.page
  font-family $customFont
  -webkit-text-size-adjust: 100%;

.page__wrapper
  min-height 100%
  margin-bottom -50px

img
  max-width 100%
  height auto

a
  text-decoration none

ul
  list-style none
  padding 0
  margin 0

h1,h2,h3,p
  margin 0
  padding 0

.container
  display block
