/* Your custom fonts here */
@font-face {
  font-family: "DIN Round Pro";
  src: url("../fonts/FFDINRoundPro-Light.woff2") format("woff2"),
        url("../fonts/FFDINRoundPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  // font-display: swap;
}

@font-face {
  font-family: "DIN Round Pro";
  src: url("../fonts/FFDINRoundPro-Regular.woff2") format("woff2"),
        url("../fonts/FFDINRoundPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  // font-display: swap;
}

@font-face {
  font-family: "DIN Round Pro";
  src: url("../fonts/FFDINRoundPro-Medium.woff2") format("woff2"),
        url("../fonts/FFDINRoundPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  // font-display: swap;
}

@font-face {
  font-family: "DIN Round Pro";
  src: url("../fonts/FFDINRoundPro-Bold.woff2") format("woff2"),
        url("../fonts/FFDINRoundPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  // font-display: swap;
}

@font-face {
  font-family: "DIN Round Pro";
  src: url("../fonts/FFDINRoundPro-Black.woff2") format("woff2"),
        url("../fonts/FFDINRoundPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  // font-display: swap;
}
// Var for using custom font
$customFont = DIN Round Pro, Helvetica, Arial, sans-serif;
