.sign-form
  max-width 600px
  background: #fff
  &__inner
    padding: 45px 30px 60px;
  &__title
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
    line-height: 1;
    font-weight: 400;
    color: #21242E;
  &__text
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 18px;
    color: #748091;
    text-align: center;
