<div class="sign-form lity-hide" id="signUp">
  <div class="sign-form__inner">
    <h2 class="sign-form__title">Sign up for updates</h2>
    <p class="sign-form__text">Generate integrated architectural, structural and MEP BIM models with dynamic schedules, material takeoffs and other reports in record time.</p>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
    <script>
      hbspt.forms.create({
      portalId: "3921830",
      formId: "24fee465-ad24-41a8-8e6a-1b10414f9cfd",
      css: ""
    });
    </script>
  </div>
</div>
