<div class="sign-form" id="{{id}}">
  <div class="sign-form__inner">
    <h2 class="sign-form__title">Sign up for updates</h2>
    <p class="sign-form__text">Generate integrated architectural, structural and MEP BIM models with dynamic schedules, material takeoffs and other reports in record time.</p>
    <form action="#" class="sign-form__form">
      <p class="sign-form__item">
        <label for="name">Full name</label>
        <input type="text" id="name"/>
      </p>
      <p class="sign-form__item">
        <label for="Company">Company</label>
        <input type="text" id="company"/>
      </p>
      <p class="sign-form__item">
        <label for="email">Business name</label>
        <input type="email" id="email"/>
      </p>
      <p class="sign-form__item">
        <label for="tel">Phone number</label>
        <input type="tel" id="phone"/>
      </p>
      <p class="sign-form__item">
        <label for="interested">What feature are you most interested in?</label>
        <input type="text" id="interested"/>
      </p>
      <button class="sign-form__btn btn" type="submit">Submit</button>
    </form>
  </div>
</div>
