.page-footer
  background url("https://www.kreo.net/hubfs/kreo_new/static/img/svg/patern50-50.svg") repeat, #294861
  background-size 50px 50px
  &__inner
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    padding-top 50px
    padding-bottom 50px
  &__privacy
    width 200px
    a
      display block
      padding 10px 0
      font-size 16px
      letter-spacing 0.2px
      color #fff
      text-transform uppercase
      transition color .4s
      &:hover
        color #f58240
  &__nav-item
    a
      display block
      padding 10px 0
      font-size 16px
      letter-spacing 0.2px
      color #fff
      text-transform uppercase
      transition color .4s
      &:hover
        color #f58240
  &__bottom-row
    padding 20px 0
    background-color rgba(0,0,0,.5)
    .container
      display flex
.subscription
  color #fff
  margin-right auto
  h2
    font-size 32px
    font-family inherit
    color #fff
    font-weight 400
    margin-bottom 20px
  p
    margin-bottom 80px
    color #fff
    font-size 16px
  .hs-form input[type="email"] {
    width 300px
    height 45px
    margin-right 20px
    padding 0 20px
    color #fff
    font-size 16px
    border-radius 60px
    background-color transparent
    border 1px solid #fff
  }
  .hs-form {
    display flex
    justify-content space-between
    max-width 550px
    .hs_error_rollup {
      display none
    }
  }
  .hs-form .hs_email {
    width 300px
  }
  .hs-form .hs_submit {
    width 220px
  }
  ::-webkit-input-placeholder { color: #f5f5f5; }
  ::-moz-placeholder          { color: #f5f5f5; } /* Firefox 19+ */
  :-moz-placeholder           { color: #f5f5f5; } /* Firefox 18- */
  :-ms-input-placeholder      { color: #f5f5f5; }
.copyright
  flex-grow 1
  font-size 16px
  font-weight 300
  letter-spacing 0.2px
  color #fff
.socials
  display flex
  align-items center
  &__item:not(:last-child)
    margin-right 20px
  &__link
    display block
    color #fff
    width 20px
    height 20px
    font-size 0
    &--linkedin
      background-image url('https://www.kreo.net/hubfs/kreo_new/static/img/svg/linked-social.svg')
      background-repeat no-repeat
      background-size 20px 20px
    &--fb
      background-image url('https://www.kreo.net/hubfs/kreo_new/static/img/svg/facebook-social.svg')
      background-repeat no-repeat
      background-size 20px 20px
    &--youtube
      background-image url('https://www.kreo.net/hubfs/kreo_new/static/img/svg/youtube-social.svg')
      background-repeat no-repeat
      background-size 20px 20px
    &--twitter
      background-image url('https://www.kreo.net/hubfs/kreo_new/static/img/svg/twitter-social.svg')
      background-repeat no-repeat
      background-size 20px 20px
    &--pinterest
      background-image url('https://www.kreo.net/hubfs/kreo_new/static/img/svg/pinterest-social.svg')
      background-repeat no-repeat
      background-size 20px 20px
