<footer class="page-footer">
  <div class="page-footer__inner container">
    <div class="subscription">
      <h2>Subscribe to Kreo via email</h2>
      <p>Subscribe if you want to receive instant updates about the latest developments of our app.</p>
      <script src="//js.hsforms.net/forms/v2.js"></script>
      <script>
        hbspt.forms.create({
        portalId: "3921830",
        formId: "fec0ddd3-8f7b-4745-9f57-2fce8053c979"
      });
      </script>
    </div>
    <div class="page-footer__privacy">
      <a href="tel:+442033719081">+44 203 371 9081</a>
      <a href="https://www.kreo.net/hubfs/Kreo_Website/assets/terms/Kreo%20Website%20-%20Terms%20of%20Use.pdf?t=1525936818264">terms of use</a>
      <a href="https://www.kreo.net/hubfs/Kreo_Website/assets/terms/Kreo%20Website%20-%20Privacy%20Policy.pdf?t=1525936818264">privacy policy</a>
    </div>
    <ul class="page-footer__navigation">
      <li class="page-footer__nav-item"><a href="https://www.kreo.net">home</a></li>
      <li class="page-footer__nav-item"><a href="https://www.kreo.net/kreo-view">kreo view</a></li>
      <li class="page-footer__nav-item"><a href="https://www.kreo.net/kreo-plan">kreo plan</a></li>
      <li class="page-footer__nav-item"><a href="https://www.kreo.net/pricing">Pricing</a></li>
      <li class="page-footer__nav-item"><a href="https://www.kreo.net/blog">blog</a></li>
      <li class="page-footer__nav-item"><a href="https://www.kreo.net/contact">contact</a></li>
    </ul>
  </div>
  <div class="page-footer__bottom-row">
    <div class="container">
      <p class="copyright">© KREO Software</p>
      <ul class="socials">
        <li class="socials__item"><a href="https://www.linkedin.com/company/kreosoftware" class="socials__link socials__link--linkedin" target="_blank">in</a></li>
        <li class="socials__item"><a href="https://www.facebook.com/kreosoftware" class="socials__link socials__link--fb" target="_blank">fb</a></li>
        <li class="socials__item"><a href="https://www.youtube.com/channel/UCgJV-ickUBT8HvFUAmz1zkQ" class="socials__link socials__link--youtube" target="_blank">yo</a></li>
        <li class="socials__item"><a href="https://twitter.com/kreo_software" class="socials__link socials__link--twitter" target="_blank">tw</a></li>
        <li class="socials__item"><a href="https://www.pinterest.co.uk/kreosoftwareltd" class="socials__link socials__link--pinterest" target="_blank">pint</a></li>
      </ul>
    </div>
  </div>
</footer>
