<section class="automatation">
  <div class="container">
    <div class="automatation__inner">
      <p><span>Kreo</span><br>automatation</p>
      <div class="lines"></div>
      <ul class="automatation__list automatation__list--left">
        <li class="automatation__item">BIM Classification</li>
        <li class="automatation__item">BIM model checking for errors and collisions
    </li>
        <li class="automatation__item">Quantity takeoff</li>
        <li class="automatation__item">Measurement extraction</li>
        <li class="automatation__item">Activity, cost, resource loading </li>
      </ul>
      <div class="automatation__logo">
      </div>
      <ul class="automatation__list automatation__list--right">
        <li class="automatation__item">Work breakdown structure</li>
        <li class="automatation__item">Activity sequencing</li>
        <li class="automatation__item">Gantt charts and resource leveling</li>
        <li class="automatation__item">4D modeling and visualisation</li>
        <li class="automatation__item">Generating reports</li>
      </ul>
    </div>
  </div>
</section>
