<section class="automation">
  <div class="container">
    <div class="automation__inner">
      <p><span>Kreo</span> automation</p>
      <div class="lines"></div>
      <ul class="automation__list automation__list--left">
        <li class="automation__item">BIM Classification</li>
        <li class="automation__item">BIM model checking for errors and collisions
    </li>
        <li class="automation__item">Quantity takeoff</li>
        <li class="automation__item">Measurement extraction</li>
        <li class="automation__item">Activity, cost, resource loading </li>
      </ul>
      <div class="automation__logo">
      </div>
      <ul class="automation__list automation__list--right">
        <li class="automation__item">Work breakdown structure</li>
        <li class="automation__item">Activity sequencing</li>
        <li class="automation__item">Gantt charts and resource leveling</li>
        <li class="automation__item">4D modeling and visualisation</li>
        <li class="automation__item">Generating reports</li>
      </ul>
    </div>
  </div>
</section>
