<section class="pricing">
  <div class="pricing__inner container">
    <h2 class="pricing__title side-line">Pricing</h2>
  </div>
  <div class="pricing__wrap">
    <div class="container">
      <div class="pricing__inner-wrap">
      <div class="pricing__card pricing__card--free">
        <h3 class="pricing__card-title">Free</h3>
        <div class="pricing__cost">
          <p>&#163;0</p>
        </div>
        <ul class="pricing__list">
          <li class="pricing__item">Up to 2 users</li>
          <li class="pricing__item">Storage 500MB</li>
          <li class="pricing__item">Basic support</li>
        </ul>
        <a href="https://app.kreo.net/auth/signup" class="pricing__btn btn">Sign up free</a>
      </div>
      <div class="pricing__card pricing__card--plus">
        <h3 class="pricing__card-title pricing__card-title--plus">Plus</h3>
        <div class="pricing__cost pricing__cost--plus">
          <p>&#163;20 <span>month per user</span></p>
        </div>
        <ul class="pricing__list">
          <li class="pricing__item pricing__item--white">Unlimited users</li>
          <li class="pricing__item pricing__item--white">Unlimited storage</li>
          <li class="pricing__item pricing__item--white">Premium support</li>
        </ul>
        <a href="https://app.kreo.net/auth/signup" class="pricing__btn pricing__btn--plus btn">Sign Up Now</a>
      </div>
      </div>
    </div>
  </div>
</section>
