<section class="pricing">
  <div class="pricing__inner container">
    <h2 class="pricing__title side-line">Pricing</h2>
  </div>
  <div class="pricing__wrap">
    <div class="pricing__inner container">
      <div class="pricing__card">
        <h3 class="pricing__card-title">Free</h3>
        <ul class="pricing__list">
          <li class="pricing__item">Up to 3 users</li>
          <li class="pricing__item">Storage 500MB</li>
          <li class="pricing__item">Basic support</li>
        </ul>
        <div class="pricing__cost">
          <p>$0</p>
        </div>
        <a href="#" class="pricing__btn btn">Sign Up Free</a>
      </div>
      <div class="pricing__card">
        <h3 class="pricing__card-title">Plus</h3>
        <ul class="pricing__list">
          <li class="pricing__item">Unlimited users</li>
          <li class="pricing__item">Unlimited storage</li>
          <li class="pricing__item">Premium support</li>
        </ul>
        <div class="pricing__cost">
          <p>$10 /mounth</p>
          <span>per user</span>
        </div>
        <a href="#" class="pricing__btn btn">Sign Up Free</a>
      </div>
    </div>
  </div>
</section>
