<section class="promo promo--view">
  <div class="promo__inner promo__inner--view">
    <header class="promo__header promo__header--view">
      <div class="container">
        <div class="controls">
          <p class="controls__title">kreo view</p>
          <a href="https://drive.google.com/file/d/1fMvYe4kTsZdIj76gNxAoS36qNO24Ezpy" class="revit-plugin">Revit Plugin</a>
          <a href="https://app.kreo.net/auth/signup" class="sign-up">Sign Up Free</a>
        </div>
        <h1>BIM Collaboration. Anytime. Anywhere.</h1>
        <p>Share your BIM model, collaborate and communicate with your team online. Cloud-based software for BIM model visualisation and design collaboration with amazing graphics quality and rendering speed.</p>
        <div class="video-box video-plugin">
          <a href="https://www.youtube.com/watch?v=g7C9-OCVGzk" data-lity>
            <img src="https://www.kreo.net/hubfs/kreo_new/static/img/content/header_video_view.png" width="578" height="338" alt="kreoview product video" />
          </a>
        </div>
      </div>
      <div class="line" id="line"></div>
    </header>
  </div>
</section>
