<section class="overview">
  <div class="overview__inner container">
    <h2>user roles</h2>
    <ul class="overview__list">
      <li class="overview__item"><a href="#bimSpecialists" class="overview__link" data-lity>BIM Specialists</a>
        <div id="bimSpecialists" class="overview__hint-wrap lity-hide">
          <p>BIM Specialists</p>
          <ul class="overview__hint">
            <li>Share BIM model with all stakeholders and collaborate</li>
            <li>Check and signs off on BIM classification</li>
            <li>Correct errors and collisions identified by Kreo in the original BIM model</li>
            <li>Coordinate design effort</li>
            <li>Ensure that BIM model is uptodate</li>
          </ul>
        </div>
      </li>
      <li class="overview__item"><a href="#projectManager" class="overview__link" data-lity>Project Manager</a>
        <div id="projectManager" class="overview__hint-wrap lity-hide">
          <p>Project Manager</p>
          <ul class="overview__hint">
            <li>Initiates project</li>
            <li>Appoints team</li>
            <li>Tracks progress</li>
            <li>Reviews scenarios submitted by team members</li>
            <li>Approves base schedule and cost budget</li>
            <li>Approves work packages</li>
            <li>Approves tenders/RFPs</li>
          </ul>
        </div>
      </li>
      <li class="overview__item"><a href="#bidManagers" class="overview__link" data-lity>BID Managers</a>
        <div id="bidManagers" class="overview__hint-wrap lity-hide">
          <p>BID Managers</p>
          <ul class="overview__hint">
            <li>Check work packages</li>
            <li>Adjust/change work packages</li>
            <li>Run scenarios to optimise work packages</li>
            <li>Submit subcontractor list for approval</li>
            <li>Initiate and run tenders/RFPs/RFQs online</li>
            <li>Submit winning bids for approval</li>
          </ul>
        </div>
      </li>
      <li class="overview__item"><a href="#plannersProgramManagers" class="overview__link" data-lity>Planners/Program managers</a>
        <div id="plannersProgramManagers" class="overview__hint-wrap lity-hide">
          <p>Planners/Program managers</p>
          <ul class="overview__hint">
            <li>Check activity assignment</li>
            <li>Check activity sequence</li>
            <li>Check resource loading</li>
            <li>Run scenarios to optimise schedule and resource usage</li>
            <li>Check if schedule optimisation affects overall project KPI (cost, schedule, resource levelling, work packaging)</li>
            <li>Submit valid scenarios for PM consideration/ approval</li>
          </ul>
        </div>
      </li>
      <li class="overview__item"><a href="#qsCostEstimators" class="overview__link" data-lity>QS/Cost Estimators</a>
        <div id="qsCostEstimators" class="overview__hint-wrap lity-hide">
          <p>QS/Cost Estimators</p>
          <ul class="overview__hint">
            <li>Check quantities</li>
            <li>Check measurements</li>
            <li>Check prices, costs and specifications</li>
            <li>Run scenarios to optimise cost budget</li>
            <li>Check if cost optimisation affects overall project KPI (cost, schedule, resource levelling, work packaging)</li>
            <li>Submit valid scenarios for PM consideration/ approval</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
