<section class="promo promo--plan">
  <div class="promo__inner">
    <header class="promo__header promo__header--plan">
      <div class="container">
        <div class="controls">
          <p class="controls__title">kreo<span> plan</span></p>
          <a href="#" class="sign-up sign-up--kreo-plan">Sign Up Free</a>
        </div>
        <h1>5D BIM Construction software powered by Artificial Intelligence</h1>
        <p>Single, cloud-based integrated platform for construction cost estimating, scheduling and bidding. Take off quantities, estimate costs, produce Gantt chart and 4D model, run scenarios, optimise cost and duration and price bids in record time.</p>
      </div>
    </header>
    <div class="promo__content container">
      <h2>Overview</h2>
      <p>Our cloud-based 5D BIM  software is fast, secure and doesn’t require hardware or softwzare maintenance. With Kreo, you and your stakeholders have access to the most up-to-date and reliable project data, anywhere, any time.
      </p>
      <p>With high level of automation and built in intelligence, Kreo will transform your productivity, reduce cost of bidding and increase the profitability of your business.</p>
    </div>
  </div>
</section>
