<section class="promo promo--plan">
  <div class="promo__inner">
    <header class="promo__header promo__header--plan">
      <div class="container">
        <div class="controls">
          <p class="controls__title">kreo plan</p>
          <a href="#signUpBeta" class="sign-up sign-up--kreo-plan btn btn--orange" data-lity>Sign Up Beta</a>
        </div>
        <h1>5D BIM Construction software powered by Artificial Intelligence</h1>
        <p>Single, cloud-based integrated platform for construction cost estimating, scheduling and bidding. Take off quantities, estimate costs, produce Gantt chart and 4D model, run scenarios, optimise cost and duration and price bids in record time.</p>
        <div class="video-box">
          <a href="https://www.youtube.com/watch?v=k_GNhW5nQHo" data-lity>
            <img src="https://www.kreo.net/hubfs/kreo_new/static/img/content/header_video_plan.png" width="578" height="338" alt="kreoplan product video" />
          </a>
        </div>
      </div>
      <div class="line" id="line"></div>
      </header>
      <div class="promo__content container">
        <h2>Overview</h2>
        <p>Our cloud-based 5D BIM  software is fast, secure and doesn’t require hardware or software maintenance. With Kreo, you and your stakeholders have access to the most up-to-date and reliable project data, anywhere, any time.
        </p>
        <p>With high level of automation and built in intelligence, Kreo will transform your productivity, reduce cost of bidding and increase the profitability of your business.</p>
        <ul>
          <li>BIM Model Validation</li>
          <li>BIM Quantity Take-off</li>
          <li>BIM Cost Estimation</li>
          <li>4D Scheduling</li>
          <li>'What-if' Scenarios</li>
          <li>BIM-based Tendering &amp; Bid Pricing</li>
         </ul>
      </div>
  </div>
</section>
