<header class="page-header">
  <div class="page-header__inner container">
    <div class="logo">
      <a href="https://www.kreo.net">
        <img src="https://www.kreo.net/hubfs/Kreo_Website/images/global/Kreo_Software_Logo_Dark.svg" width="140" height="45" alt="" class="logo__img" />
      </a>
    </div>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="index.html" class="navigation__link">Home</a>
        </li>
        <li class="navigation__item dropdown">
          <a class="navigation__link">Products</a>
          <ul class="sub-nav">
            <li class="sub-nav__item">
              <a href="kreo-view.html" class="sub-nav__link">Kreo View</a>
            </li>
            <li class="sub-nav__item">
              <a href="kreo-plan.html" class="sub-nav__link">Kreo Plan</a>
            </li>
            <li class="sub-nav__item">
              <a href="#" class="sub-nav__link coming">Kreo Design</a>
            </li>
          </ul>
        </li>
        <li class="navigation__item">
          <a href="#" class="navigation__link">Blog</a>
        </li>
        <li class="navigation__item">
          <a href="#" class="navigation__link">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
