.page-header
  width 100%
  &.stick
    position fixed
    transition: all 0.4s ease-in-out;
    background: rgba(255,255,255,1);
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.19)
    z-index 100
  &__inner
    display flex
    align-items center
    height 80px
.logo
  display flex
  align-items center
  width 140px
  height 45px
  margin-right 55px
.navigation
  height inherit
  &__list
    display flex
    align-items center
    height inherit
  &__item
    position relative
    display flex
    align-items center
    height inherit
    &:not(:last-child)
      margin-right 40px
    &.dropdown:hover > .sub-nav
      display block
    &.dropdown:hover > a::after
      width 100%
  &__link
    position relative
    font-size 13px
    line-height 17px
    font-family inherit
    font-weight 500
    color #1D2029
    text-transform uppercase
    outline none
    &::after
      position absolute
      content ''
      width 0
      height 2px
      left 0
      bottom -10px
      background-color: #F58240;
      transition width .3s ease
    &:hover::after,
    &:focus::after
      width 100%
    &:hover,
    &:focus
      & + .sub-nav
        display block
.sub-nav
  display none
  position absolute
  width 180px
  left -30px
  top 100%
  border-radius 3px
  box-shadow: 0 2px 10px 0 rgba(52,57,72,0.14);
  z-index 100
  &::before
    position absolute
    content ''
    top -10px
    left 50px
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #638bd3 transparent;
  &__item:first-child
    border-radius 3px 3px 0 0
  &__item:last-child
    border-radius 0 0 3px 3px
  &__link
    display block
    height 40px
    padding-left 20px
    line-height 40px
    background-color #fff
    box-shadow: inset 0 -1px 0 0 #E1E6ED;
    &:hover
      background-color #f5f5f5


