<header class="page-header">
  <div class="page-header__inner">
    <nav class="navigation">
      <div class="logo"><a href="#"><img src="__static__img/general/logo.svg" width="40" height="40" alt="logo" /></a></div>
      <ul class="navigation__list">
        <li class="navigation__item"><a href="#" class="navigation__link">Features</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Pricing</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Support</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Learning</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Blog</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">What's new</a></li>
      </ul>
      <a href="#" class="try-demo">Try demo</a>
    </nav>
  </div>
</header>
