.contacts
  position relative
  transform translateY(-250px)
  // top -250px
  background-color #f5f7fa
  box-shadow 0 0 30px rgba(0,0,0,.2)
  &__inner
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    justify-content space-between
.info,
.form
  flex-basis 47%
  padding 60px 30px
div.info
  position relative
  padding-right 80px
  background linear-gradient(0,#1d2029 0%,#24293b 100%)
  &::before
    position absolute
    content ''
    right -74px
    top 0
    bottom 0
    height 100%
    width 75px
    background-image url(https://www.kreo.net/hubfs/kreo_new/static/img/svg/line.svg)
    background-repeat no-repeat
  h2
    color #fff
    text-align center
    font-weight 400
  p
    color #fff
  a
    display block
    margin-bottom 20px
    text-align center
    color #f58240
    &:hover
      text-decoration underline

.form
  padding-left 0
  h2
    text-align center
    font-weight 400
  p
    margin-bottom 30px
