.contacts
  position relative
  transform translateY(-150px)
  // top -250px
  max-width 1170px
  margin 0 auto
  &__inner
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    justify-content space-between
    background-color #f5f7fa
    box-shadow 0 0 30px rgba(0,0,0,.2)
    lg-block(@block{
      max-width 870px
      margin 0 auto
      flex-direction column
    })
.info,
.form
  flex-basis 50%
  padding 60px 30px
div.info
  position relative
  background linear-gradient(0,#37474f 0%,#24293b 100%)
  h2
    margin-bottom 30px
    color #fff
    text-align center
    font-weight 400
  p
    color #fff
    margin-bottom 15px!important
  a
    display block
    margin-bottom 20px
    text-align center
    color #f58240
    &:hover
      text-decoration underline

.form
  h2
    margin-bottom 30px
    text-align center
    font-weight 400
  p
    margin-bottom 30px
