.faqs
  background-color: #F5F6F7;
  &__inner
    display flex
    flex-wrap wrap
    padding-top 60px
    padding-bottom 60px
  &__title
    width 100%
    margin-bottom 55px
    padding-left 25px
    font-size 32px
    line-height 40px
    color #37474f
    font-weight 400
  &__wrap
    width: 100%
    padding: 0 200px
    padding-top: 60px
    padding-bottom: 60px
    margin-bottom: 60px
    background-color: #fff
    lg-block(@block{
      padding 60px 150px
    })
  &__subtitle
    margin-top: 0
    margin-bottom: 65px
    font-size: 36px
    line-height: 1
    text-align: center
  &__item
    border-bottom: 1px solid #E8E9EB
    a
      position: relative;
      display: block;
      padding: 19px 0;
      font-size: 16px;
      line-height: 22px;
      font-weight 500
      color: #253147;
      cursor: pointer;
      &::after
        position: absolute;
        content: '';
        border: 3px solid transparent
        top: 50%;
        right: 6px;
        border-top: 5px solid #A7B0BD;
        transition: transform 0.5s ease;
        transform: rotate(0deg) translateY(0px);
    a.active
      &::after
        transition: transform 0.5s ease;
        transform: rotate(180deg) translateY(3px);
    p
      display: none;
      margin-top: -10px;
      padding-right: 40px;
      padding-bottom: 22px;
      font-size: 14px;
      line-height: 20px;
      color: #61728F;
