<section class="faqs">
  <div class="faqs__inner container">
    <h2 class="faqs__title side-line">FAQs</h2>
    <div class="faqs__wrap">
      <p class="faqs__subtitle">Billing and Pricing related FAQs</p>
      <ul class="faqs__list">
        <li class="faqs__item">
          <a>Can I start immediately or do I have to pay first?</a>
          <p>You can start immediately. You need to pay only if you wish to upgrade your account to «Plus» plan.</p>
        </li>
        <li class="faqs__item">
          <a>What is a «Company» in terms of billing?</a>
          <p>A «Company» is a group of users sharing the same workspace. The Owner is the only person who can manage projects and users within a single company. The Owner is also charged for every user in a company on the «Plus» plan.</p>
        </li>
        <li class="faqs__item">
          <a>Which payment methods do you accept?</a>
          <p>We accept  payments by credit cards only. All major credit cards are accepted. If your organization does not allow credit card payments, please contact us at support@kreo.net to arrange an alternative payment method.</p>
        </li>
        <li class="faqs__item">
          <a>How much do I pay if I add a user to the «Plus» plan?</a>
          <p>You pay £10 per user per month. If a new user joins the Plus plan between the billing dates his monthly fee will be prorated and carried over to the following month.</p>
        </li>
        <li class="faqs__item">
          <a>How often will I be charged for KreoView services?</a>
          <p>The billing period begins on the first date of each month. In other words, the Owner pays for the Company a month in advance.</p>
        </li>
        <li class="faqs__item">
          <a>Can I upgrade my «Free» account if I have less than 3 users in my Company?</a>
          <p>Yes, you can upgrade your «Free» account even though the number of users in your company is less than 3. In this case, you get the unlimited storage space and premium support.</p>
        </li>
        <li class="faqs__item">
          <a>How long can I use my «Free» account?</a>
          <p>You can use your «Free» account as long as you wish, there are no time limits.</p>
        </li>
      </ul>
    </div>
    <div class="faqs__wrap">
      <p class="faqs__subtitle">Saas, security and data protection related FAQs</p>
      <ul class="faqs__list">
        <li class="faqs__item">
          <a>General Kreo Security Policy</a>
          <p>Kreo is a software-as-a-service platform with cloud storage, computation, file viewing  and file sharing options. It’s built on best practices for data security operations. We are constantly monitoring the latest industry trends and endevour to apply leading security practices to our service.<br>

          If you have any questions regarding our security policy, please contact us at support@kreo.net.
          </p>
        </li>
        <li class="faqs__item">
          <a>Clouds Services Advantages over PC</a>
          <p>As any other cloud-based system, Kreo only relies on a good Internet connection and practically does not depend on user’s device capabilities.<br>
          Your project related data stored in Kreo is protected with industry-standard encryption technologies and best practices, so it is even safer than if it was stored on your PC. However, it is important to use a known secure PC when accessing Kreo to avoid any data leaks.</p>
        </li>
        <li class="faqs__item">
          <a>Encryption to Protect Your Data</a>
          <p>All transactions are encrypted in transit. We are using a secure socket layer certificate (https://) on our website to prevent unauthorized interceptors from accessing our users’ data.</p>
        </li>
        <li class="faqs__item">
          <a>Secure Content Sharing</a>
          <p>All project-related data is stored on Kreo servers hosted by Amazon Web Services (AWS) and cannot be accessed by any unauthorized person. We also use a highly reliable service for identity and access management. Your login credentials are required to access your Kreo account, so it is very important to keep it confidential. If you want to share your project content with others, you can invite users to your workspace (“Company”) in Kreo for collaboration. Kreo provides all the required functionality for the fine-grained control of other users and companies access permissions, who you are willing to share the data with.</p>
        </li>
        <li class="faqs__item">
          <a>Project Data Deletion</a>
          <p>After you delete your project file, it can only be recovered by contacting our support service at support@kreo.net. Your project data remains in our operational backup for one week. Unfortunately, it is impossible to restore the deleted project after that.</p>
        </li>
        <li class="faqs__item">
          <a>Data Availability</a>
          <p>We use Amazon Elastic Compute Cloud for data storage and processing. Amazon services are generally recognised to correspond to the world highest standards for cloud services.
          Kreo database service (hosted by Amazon Relational Database Service) geo-redundantly replicates the backup data across multiple zones to provide greater levels of data durability. A database automatically migrates from one server to another online with minimum downtime to prevent data loss, in case a data center becomes unavailable.</p>
        </li>
        <li class="faqs__item">
          <a>Protection from External Threats</a>
          <p>The security of our users’ data is very important to Kreo. We use every means to protect it from both deliberate and accidental impacts. Kreo cooperates with the world's largest cloud computing platform to provide the best possible data security.<br>

          Your data is protected in transit over the Internet as well as against unwanted physical intrusion and redundant power, to keep the facilities running in the event of a power interruption.<br>
          We are constantly monitoring the latest industry trends to keep up to date.
          </p>
        </li>
        <li class="faqs__item">
          <a>Personal Data Security</a>
          <p>We have no access to your personal credit card data: once you enter it on our website, it goes directly to our partner payment processing services provider (Stripe), which is considered to be one of the safest payment platforms globally.
          We also use a highly reliable service for identity and access management. Your login credentials are required to access your Kreo account, so it is very important to keep it secret. For further information on the use of your personal data please refer to our Privacy Policy.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
