<section class="faqs">
  <div class="faqs__inner container">
    <h2 class="faqs__title side-line">FAQs</h2>
    <div class="faqs__wrap">
      <p class="faqs__subtitle">Billing and Pricing related FAQs</p>
      <ul class="faqs__list">
        <li class="faqs__item">
          <a>Can I start immediately or do I have to pay first?</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, impedit voluptates modi voluptatibus, in officiis ad ea! Iure doloremque iusto, amet veniam, impedit ipsum obcaecati nisi sed! Saepe cupiditate, impedit est possimus, nisi sed quibusdam dicta voluptatibus exercitationem, veritatis placeat fugit blanditiis! Corporis aspernatur dicta odit consequatur magni fugit molestias nostrum nesciunt illo, repellat accusamus.</p>
        </li>
        <li class="faqs__item">
          <a>What is a «Company» in terms of billing?</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, impedit voluptates modi voluptatibus, in officiis ad ea! Iure doloremque iusto, amet veniam, impedit ipsum obcaecati nisi sed! Saepe cupiditate, impedit est possimus, nisi sed quibusdam dicta voluptatibus exercitationem, veritatis placeat fugit blanditiis! Corporis aspernatur dicta odit consequatur magni fugit molestias nostrum nesciunt illo, repellat accusamus.</p>
        </li>
        <li class="faqs__item">
          <a>Which payment methods do you accept?</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, impedit voluptates modi voluptatibus, in officiis ad ea! Iure doloremque iusto, amet veniam, impedit ipsum obcaecati nisi sed! Saepe cupiditate, impedit est possimus, nisi sed quibusdam dicta voluptatibus exercitationem, veritatis placeat fugit blanditiis! Corporis aspernatur dicta odit consequatur magni fugit molestias nostrum nesciunt illo, repellat accusamus.</p>
        </li>
        <li class="faqs__item">
          <a>How much do I pay if I add a user to the «Plus» plan?</a>
          <p>You pay £10 per user per month. If a new user joins the Plus plan between the billing dates his monthly fee will be prorated and carried over to the following month.</p>
        </li>
        <li class="faqs__item">
          <a>How often will I be charged for KreoView services?</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, impedit voluptates modi voluptatibus, in officiis ad ea! Iure doloremque iusto, amet veniam, impedit ipsum obcaecati nisi sed! Saepe cupiditate, impedit est possimus, nisi sed quibusdam dicta voluptatibus exercitationem, veritatis placeat fugit blanditiis! Corporis aspernatur dicta odit consequatur magni fugit molestias nostrum nesciunt illo, repellat accusamus.</p>
        </li>
        <li class="faqs__item">
          <a>Can I upgrade my «Free» account if I have less than 3 users in my Company?</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, impedit voluptates modi voluptatibus, in officiis ad ea! Iure doloremque iusto, amet veniam, impedit ipsum obcaecati nisi sed! Saepe cupiditate, impedit est possimus, nisi sed quibusdam dicta voluptatibus exercitationem, veritatis placeat fugit blanditiis! Corporis aspernatur dicta odit consequatur magni fugit molestias nostrum nesciunt illo, repellat accusamus.</p>
        </li>
        <li class="faqs__item">
          <a>How long can I use my «Free» account?</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, impedit voluptates modi voluptatibus, in officiis ad ea! Iure doloremque iusto, amet veniam, impedit ipsum obcaecati nisi sed! Saepe cupiditate, impedit est possimus, nisi sed quibusdam dicta voluptatibus exercitationem, veritatis placeat fugit blanditiis! Corporis aspernatur dicta odit consequatur magni fugit molestias nostrum nesciunt illo, repellat accusamus.</p>
        </li>
      </ul>
    </div>
    <div class="faqs__wrap">
      <p class="faqs__subtitle">Saas, security and data protection related FAQs</p>
      <ul class="faqs__list">
        <li class="faqs__item">
          <a>General Kreo Security Policy</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, impedit voluptates modi voluptatibus, in officiis ad ea! Iure doloremque iusto, amet veniam, impedit ipsum obcaecati nisi sed! Saepe cupiditate, impedit est possimus, nisi sed quibusdam dicta voluptatibus exercitationem, veritatis placeat fugit blanditiis! Corporis aspernatur dicta odit consequatur magni fugit molestias nostrum nesciunt illo, repellat accusamus.</p>
        </li>
        <li class="faqs__item">
          <a>Clouds Services Advantages over PC</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, impedit voluptates modi voluptatibus, in officiis ad ea! Iure doloremque iusto, amet veniam, impedit ipsum obcaecati nisi sed! Saepe cupiditate, impedit est possimus, nisi sed quibusdam dicta voluptatibus exercitationem, veritatis placeat fugit blanditiis! Corporis aspernatur dicta odit consequatur magni fugit molestias nostrum nesciunt illo, repellat accusamus.</p>
        </li>
        <li class="faqs__item">
          <a>Encryption to Protect Your Data</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, impedit voluptates modi voluptatibus, in officiis ad ea! Iure doloremque iusto, amet veniam, impedit ipsum obcaecati nisi sed! Saepe cupiditate, impedit est possimus, nisi sed quibusdam dicta voluptatibus exercitationem, veritatis placeat fugit blanditiis! Corporis aspernatur dicta odit consequatur magni fugit molestias nostrum nesciunt illo, repellat accusamus.</p>
        </li>
        <li class="faqs__item">
          <a>Secure Content Sharing</a>
          <p>All project-related data is stored on Kreo servers hosted by Amazon Web Services (AWS) and cannot be accessed by any unauthorized person. We also use a highly reliable service for identity and access management. Your login credentials are required to access your Kreo account, so it is very important to keep it confidential. If you want to share your project content with others, you can invite users to your workspace (“Company”) in Kreo for collaboration. Kreo provides all the required functionality for the fine-grained control of other users and companies access permissions, who you are willing to share the data with.</p>
        </li>
        <li class="faqs__item">
          <a>Project Data Deletion</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, impedit voluptates modi voluptatibus, in officiis ad ea! Iure doloremque iusto, amet veniam, impedit ipsum obcaecati nisi sed! Saepe cupiditate, impedit est possimus, nisi sed quibusdam dicta voluptatibus exercitationem, veritatis placeat fugit blanditiis! Corporis aspernatur dicta odit consequatur magni fugit molestias nostrum nesciunt illo, repellat accusamus.</p>
        </li>
        <li class="faqs__item">
          <a>Data Availability</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, impedit voluptates modi voluptatibus, in officiis ad ea! Iure doloremque iusto, amet veniam, impedit ipsum obcaecati nisi sed! Saepe cupiditate, impedit est possimus, nisi sed quibusdam dicta voluptatibus exercitationem, veritatis placeat fugit blanditiis! Corporis aspernatur dicta odit consequatur magni fugit molestias nostrum nesciunt illo, repellat accusamus.</p>
        </li>
        <li class="faqs__item">
          <a>Protection from External Threats</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, impedit voluptates modi voluptatibus, in officiis ad ea! Iure doloremque iusto, amet veniam, impedit ipsum obcaecati nisi sed! Saepe cupiditate, impedit est possimus, nisi sed quibusdam dicta voluptatibus exercitationem, veritatis placeat fugit blanditiis! Corporis aspernatur dicta odit consequatur magni fugit molestias nostrum nesciunt illo, repellat accusamus.</p>
        </li>
        <li class="faqs__item">
          <a>Personal Data Security</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, impedit voluptates modi voluptatibus, in officiis ad ea! Iure doloremque iusto, amet veniam, impedit ipsum obcaecati nisi sed! Saepe cupiditate, impedit est possimus, nisi sed quibusdam dicta voluptatibus exercitationem, veritatis placeat fugit blanditiis! Corporis aspernatur dicta odit consequatur magni fugit molestias nostrum nesciunt illo, repellat accusamus.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
