<div class="sign-beta lity-hide" id="signUpBeta">
  <div class="sign-beta__inner">
  <div class="sign-beta__form-wrap">
    <h2 class="sign-beta__title">Sign up for Beta</h2>
    <p class="sign-beta__text">Single platform for superior construction project planning, cost estimating and bid pricing</p>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
    <script>
      hbspt.forms.create({
      portalId: "3921830",
      formId: "24fee465-ad24-41a8-8e6a-1b10414f9cfd",
      css: ""
    });
    </script>
    </div>
    <div class="sign-beta__description">
      <ul class="sign-beta__list">
        <li class="sign-beta__item">
          <i class="sign-beta_circle"></i>
          Empower smarter planning and cost estimating.
          </li>
        <li class="sign-beta__item">
          <i class="sign-beta_circle"></i>
          Improve your productivity.
          </li>
        <li class="sign-beta__item">
          <i class="sign-beta_circle"></i>
          Reduce bidding costs.
        </li>
      </ul>
    </div>
  </div>
</div>
