<div class="sign-beta lity-hide" id="signUpBeta">
  <div class="sign-beta__inner">
  <div class="sign-beta__form-wrap">
    <h2 class="sign-beta__title">Sign up for Beta</h2>
    <p class="sign-beta__text">Single platform for superior construction project planning, cost estimating and bid pricing</p>
    <form action="#" class="sign-beta__form" method="POST">
      <input type="text" name="name" id="name" placeholder="Full name*"/>
      <input type="text" name="company" id="company" placeholder="Company name*"/>
      <input type="tel" name="phone" id="phone" placeholder="Phone number*"/>
      <input type="email" name="email" id="email" placeholder="Business or Company Email*"/>
      <input type="text" name="interested" id="interested" placeholder="What feature are you most interested in?*"/>
      <button class="sign-beta__btn btn" name="sign-beta" type="submit">Submit</button>
    </form>
    </div>
    <div class="sign-beta__description">
      <ul class="sign-beta__list">
        <li class="sign-beta__item">
          <i class="sign-beta_circle"></i>
          Empower smarter planning and cost estimating.
          </li>
        <li class="sign-beta__item">
          <i class="sign-beta_circle"></i>
          Improve your productivity.
          </li>
        <li class="sign-beta__item">
          <i class="sign-beta_circle"></i>
          Reduce bidding costs.
        </li>
      </ul>
    </div>
  </div>
</div>
