<section class="blog-data">
  <div class="blog-data__inner container">

    <ul class="blog-data__list">

      <li class="blog-data__item">
        <a class="blog-data__img-wrap" href="https://www.kreo.net/blog/why-automation-in-the-construction-industry-will-unleash-not-limit-creativity">
          <img src="https://cdn2.hubspot.net/hubfs/3921830/Kreo_Website/images/blog_images/BP010%20-%20Why%20Automation%20in%20the%20Construction%20Industry%20Will%20UNLEASH,%20Not%20Limit%20Creativity/Why%20Automation%20in%20the%20Construction%20Industry%20Will%20UNLEASH,%20Not%20Limit%20Creativity.png?t=1527506742292" alt="Why Automation in the Construction Industry Will UNLEASH, Not Limit Creativity!">
        </a>

        <div class="blog-data__content-wrapper">

          <ul class="categories">

            <li class="categories__item"><a class="categories__link" href="https://www.kreo.net/blog/topic/ai">AI |</a></li>

            <li class="categories__item"><a class="categories__link" href="https://www.kreo.net/blog/topic/bim">BIM |</a></li>

            <li class="categories__item"><a class="categories__link" href="https://www.kreo.net/blog/topic/industry-insight">Industry Insight |</a></li>

          </ul>


          <h2 class="blog-data__item-title heading heading--h2"><a href="https://www.kreo.net/blog/why-automation-in-the-construction-industry-will-unleash-not-limit-creativity">Why Automation in the Construction Industry Will UNLEASH, Not Limit Creativity!</a></h2>
          <div class="blog-data__content">



            <p><strong>Most construction professionals are already somewhat sold on the value of computers – but, when it comes to unlocking their full potential, they're only just scratching the surface.</strong></p>


          </div>
          <div class="blog-data__date"><span>Magomed Galaev</span> | 07-May-2018 10:00:00</div>

        </div>
      </li>

      <li class="blog-data__item">
        <a class="blog-data__img-wrap" href="https://www.kreo.net/blog/using-technology-to-fix-the-construction-tendering-process">
          <img src="https://cdn2.hubspot.net/hubfs/3921830/Kreo_Website/images/blog_images/BP009%20-%20Using%20Technology%20to%20Fix%20the%20Construction%20Tendering%20Process/Kreo-Feature-6-Tendering-and-Bid-Pricing.png?t=1527506742292" alt="Using Technology to Fix the Construction Tendering Process">
        </a>

        <div class="blog-data__content-wrapper">

          <ul class="categories">

            <li class="categories__item"><a class="categories__link" href="https://www.kreo.net/blog/topic/bim">BIM |</a></li>

            <li class="categories__item"><a class="categories__link" href="https://www.kreo.net/blog/topic/industry-insight">Industry Insight |</a></li>

            <li class="categories__item"><a class="categories__link" href="https://www.kreo.net/blog/topic/tendering">Tendering |</a></li>

          </ul>


          <h2 class="blog-data__item-title heading heading--h2"><a href="https://www.kreo.net/blog/using-technology-to-fix-the-construction-tendering-process">Using Technology to Fix the Construction Tendering Process</a></h2>
          <div class="blog-data__content">



            <p>Much has been written about low margins and financial fragility in the construction industry - and many reasons offered as to why they exist. But in reality, owing to the deeply flawed nature of construction tendering and bidding, many projects are doomed to financial failure before they even start.</p>


          </div>
          <div class="blog-data__date"><span>Magomed Galaev</span> | 03-May-2018 14:38:31</div>

        </div>
      </li>

      <li class="blog-data__item">
        <a class="blog-data__img-wrap" href="https://www.kreo.net/blog/optimise-construction-projects-for-time-or-cost-with-kreos-what-if-scenarios">
          <img src="https://cdn2.hubspot.net/hubfs/3921830/Kreo_Website/images/blog_images/BP008%20-%20Optimise%20Construction%20Projects%20for%20Time%20or%20Cost%20With%20KREO%E2%80%99s%20What%20If%20Scenarios/Kreo%20Feature%205%20What%20If%20Scenarios.png?t=1527506742292" alt="Optimise Construction Projects for Time or Cost With KREO’s “What If?” Scenarios">
        </a>

        <div class="blog-data__content-wrapper">

          <ul class="categories">

            <li class="categories__item"><a class="categories__link" href="https://www.kreo.net/blog/topic/bim">BIM |</a></li>

            <li class="categories__item"><a class="categories__link" href="https://www.kreo.net/blog/topic/cost-estimation">Cost Estimation |</a></li>

            <li class="categories__item"><a class="categories__link" href="https://www.kreo.net/blog/topic/what-if-scenarios">What If Scenarios |</a></li>

          </ul>


          <h2 class="blog-data__item-title heading heading--h2"><a href="https://www.kreo.net/blog/optimise-construction-projects-for-time-or-cost-with-kreos-what-if-scenarios">Optimise Construction Projects for Time or Cost With KREO’s “What If?” Scenarios</a></h2>
          <div class="blog-data__content">



            <p>Building information modelling (BIM) has been described in some quarters as the construction industry's very own 'digital revolution.'</p>
            <p>But, while that description is not without its merits, even the staunchest BIM advocate would acknowledge that it is currently falling way short of its considerable potential.</p>


          </div>
          <div class="blog-data__date"><span>Magomed Galaev</span> | 01-May-2018 09:24:41</div>

        </div>
      </li>

      <li class="blog-data__item">
        <a class="blog-data__img-wrap" href="https://www.kreo.net/blog/the-construction-bidding-process-and-why-its-fraught-with-problems">
          <img src="https://cdn2.hubspot.net/hubfs/3921830/Kreo_Website/images/blog_images/BP007%20-%20The%20construction%20bidding%20process%20%E2%80%93%20and%20why%20it%E2%80%99s%20fraught%20with%20problems/The%20construction%20bidding%20process%20%E2%80%93%20and%20why%20it%E2%80%99s%20fraught%20with%20problems.png?t=1527506742292" alt="The Construction Bidding Process – And Why It’s Fraught With Problems">
        </a>

        <div class="blog-data__content-wrapper">

          <ul class="categories">

            <li class="categories__item"><a class="categories__link" href="https://www.kreo.net/blog/topic/tendering">Tendering |</a></li>

            <li class="categories__item"><a class="categories__link" href="https://www.kreo.net/blog/topic/construction-bidding">Construction Bidding |</a></li>

          </ul>


          <h2 class="blog-data__item-title heading heading--h2"><a href="https://www.kreo.net/blog/the-construction-bidding-process-and-why-its-fraught-with-problems">The Construction Bidding Process – And Why It’s Fraught With Problems</a></h2>
          <div class="blog-data__content">



            <p>Tendering and bidding is an integral part of the construction industry for procuring building contracts. But whether you’re a multi-national client or a small local builder, it can be riddled with problems. As well as being the process where jobs are landed, it can also be the process that lays the foundations for adversarial relationships and loss-making contracts. As one contractor pointed out on the industry website, <em>CNplus.co.uk:</em> “If you make one mistake pricing a job, even a small works package, you can lose a huge sum of money.”</p>


          </div>
          <div class="blog-data__date"><span>Magomed Galaev</span> | 30-Apr-2018 11:10:24</div>

        </div>
      </li>

      <li class="blog-data__item">
        <a class="blog-data__img-wrap" href="https://www.kreo.net/blog/4d-scheduling-software-for-construction-professionals">
          <img src="https://cdn2.hubspot.net/hubfs/3921830/Kreo_Website/images/blog_images/BP006%20-%204D%20Scheduling%20Software%20for%20Construction%20Professionals/4D%20Scheduling%20Software%20for%20Construction%20Professionals.png?t=1527506742292" alt="4D Scheduling Software for Construction Professionals">
        </a>

        <div class="blog-data__content-wrapper">

          <ul class="categories">

            <li class="categories__item"><a class="categories__link" href="https://www.kreo.net/blog/topic/bim">BIM |</a></li>

            <li class="categories__item"><a class="categories__link" href="https://www.kreo.net/blog/topic/scheduling">Scheduling |</a></li>

          </ul>


          <h2 class="blog-data__item-title heading heading--h2"><a href="https://www.kreo.net/blog/4d-scheduling-software-for-construction-professionals">4D Scheduling Software for Construction Professionals</a></h2>
          <div class="blog-data__content">



            <p><strong>KREO's 4D scheduling software finally fulfils the true potential of 4D BIM. </strong></p>
            <p>4D BIM - that is, the intelligent linking of 3D CAD components with time or schedule related information - is, in theory, incredibly valuable to construction project managers.</p>


          </div>
          <div class="blog-data__date"><span>Magomed Galaev</span> | 27-Apr-2018 12:00:08</div>

        </div>
      </li>

      <li class="blog-data__item">
        <a class="blog-data__img-wrap" href="https://www.kreo.net/blog/how-to-estimate-construction-costs-for-bim-projects-quickly-and-accurately">
          <img src="https://cdn2.hubspot.net/hubfs/3921830/Kreo_Website/images/blog_images/BP005%20-%20How%20to%20Estimate%20Construction%20Costs%20for%20BIM%20Projects%20Quickly%20%E2%80%93%20And%20Accurately/How%20to%20estimate%20construction%20costs%20for%20BIM%20projects%20quickly%20-%20and%20accurately.png?t=1527506742292" alt="How to Estimate Construction Costs for BIM Projects Quickly – And Accurately!">
        </a>

        <div class="blog-data__content-wrapper">

          <ul class="categories">

            <li class="categories__item"><a class="categories__link" href="https://www.kreo.net/blog/topic/bim">BIM |</a></li>

            <li class="categories__item"><a class="categories__link" href="https://www.kreo.net/blog/topic/cost-estimation">Cost Estimation |</a></li>

          </ul>


          <h2 class="blog-data__item-title heading heading--h2"><a href="https://www.kreo.net/blog/how-to-estimate-construction-costs-for-bim-projects-quickly-and-accurately">How to Estimate Construction Costs for BIM Projects Quickly – And Accurately!</a></h2>
          <div class="blog-data__content">



            <p><strong>The problem of how to estimate construction costs is one of the most crucial issues facing companies in the industry.</strong></p>
            <p>An accurate cost estimate, incorporating both the direct costs - materials, labour, professional services, etc. - as well as the inherent risks of a project, is the fundamental guideline to determining a projects' feasibility.</p>


          </div>
          <div class="blog-data__date"><span>Magomed Galaev</span> | 27-Apr-2018 11:18:18</div>

        </div>
      </li>

      <li class="blog-data__item">
        <a class="blog-data__img-wrap" href="https://www.kreo.net/blog/why-are-construction-profit-margins-so-low">
          <img src="https://cdn2.hubspot.net/hubfs/3921830/Kreo_Website/images/blog_images/BP004%20-%20Why%20are%20construction%20profit%20margins%20so%20low/construction%20profit%20margins.png?t=1527506742292" alt="Why Are Construction Profit Margins So Low?">
        </a>

        <div class="blog-data__content-wrapper">

          <ul class="categories">

            <li class="categories__item"><a class="categories__link" href="https://www.kreo.net/blog/topic/industry-insight">Industry Insight |</a></li>

          </ul>


          <h2 class="blog-data__item-title heading heading--h2"><a href="https://www.kreo.net/blog/why-are-construction-profit-margins-so-low">Why Are Construction Profit Margins So Low?</a></h2>
          <div class="blog-data__content">



            <p><strong>Construction profit margins </strong>have long been a controversial subject in the industry, with many citing them as a factor in the uncertain financial environment facing even the largest, most-established firms.</p>


          </div>
          <div class="blog-data__date"><span>Magomed Galaev</span> | 23-Apr-2018 10:16:51</div>

        </div>
      </li>

      <li class="blog-data__item">
        <a class="blog-data__img-wrap" href="https://www.kreo.net/blog/kreo-revolutionary-5d-bim-quantity-takeoff-software">
          <img src="https://cdn2.hubspot.net/hubfs/3921830/Kreo_Website/images/blog_images/BP003/Kreo-Feature-2-Quantity-Takeoff.png?t=1527506742292" alt="KREO: Revolutionary 5D BIM Quantity Takeoff Software">
        </a>

        <div class="blog-data__content-wrapper">

          <ul class="categories">

            <li class="categories__item"><a class="categories__link" href="https://www.kreo.net/blog/topic/bim">BIM |</a></li>

            <li class="categories__item"><a class="categories__link" href="https://www.kreo.net/blog/topic/quantity-takeoff">Quantity Takeoff |</a></li>

          </ul>


          <h2 class="blog-data__item-title heading heading--h2"><a href="https://www.kreo.net/blog/kreo-revolutionary-5d-bim-quantity-takeoff-software">KREO: Revolutionary 5D BIM Quantity Takeoff Software</a></h2>
          <div class="blog-data__content">



            <p>Many in the industry have suggested that BIM quantity takeoff software has the potential to render the traditional quantity takeoff obsolete. And, technically, that argument has its merits.</p>


          </div>
          <div class="blog-data__date"><span>Magomed Galaev</span> | 20-Apr-2018 14:29:59</div>

        </div>
      </li>

      <li class="blog-data__item">
        <a class="blog-data__img-wrap" href="https://www.kreo.net/blog/how-ai-in-construction-is-changing-things-for-the-better">
          <img src="https://cdn2.hubspot.net/hubfs/3921830/Kreo_Website/images/blog_images/BP001/AI%20can%20transform%20construction%20project%20planning,%20cost%20estimating%20and%20bid%20pricing..png?t=1527506742292" alt="How AI in Construction Is Changing Things for the Better">
        </a>

        <div class="blog-data__content-wrapper">

          <ul class="categories">

            <li class="categories__item"><a class="categories__link" href="https://www.kreo.net/blog/topic/ai">AI |</a></li>

          </ul>


          <h2 class="blog-data__item-title heading heading--h2"><a href="https://www.kreo.net/blog/how-ai-in-construction-is-changing-things-for-the-better">How AI in Construction Is Changing Things for the Better</a></h2>
          <div class="blog-data__content">



            <p>Unlike in other industries, AI in construction has been slow to take hold. Now, that could all be about to change…</p>


          </div>
          <div class="blog-data__date"><span>Magomed Galaev</span> | 17-Apr-2018 15:41:54</div>

        </div>
      </li>

    </ul>
  </div>
</section>

