<section class="solutions">
  <div class="solutions__inner container">
    <h2 class="solutions__title side-line">solutions</h2>
    <ul class="solutions__controls">
      <li data-tab="tab-1" class="solutions__item active">BIM Design teams</li>
      <li data-tab="tab-2" class="solutions__item">Quantity Surveyors & Cost Estimators</li>
      <li data-tab="tab-3" class="solutions__item">Project managers & Planners</li>
      <li data-tab="tab-4" class="solutions__item">Contact Manager & Bid Managers</li>
    </ul>
    <div class="solutions__tabs">
      <section id="tab-1" class="tab-content">
        <div class="tab-content__header">
          <h2>BIM Design teams</h2>
        </div>
        <div class="tab-content__text">
          <ul>
            <li>Share your BIM model with your team and inviting other stakeholder</li>
            <li>Improve collaboration and communication with your team online
via built-in chat channel </li>
            <li>Improve design quality by marking up the model and flagging issues and collisions</li>
          </ul>
          <a href="#">find out how &gt;</a>
        </div>
        <div class="tab-content__footer">
          <ul>
            <li>Identify and classify BIM model elements in minutes.</li>
            <li>Check the model for errors and omissions.</li>
            <li>Improve the accuracy of measurements and constructability.</li>
          </ul>
          <a href="#">find out how &gt;</a>
        </div>
      </section>
      <section id="tab-2" class="tab-content">2</section>
      <section id="tab-3" class="tab-content">3</section>
      <section id="tab-4" class="tab-content">4</section>
    </div>
  </div>
</section>
