<section class="solutions">
  <div class="solutions__inner container">
    <h2 class="solutions__title side-line">solutions</h2>
    <div class="solutions__tabs-wrapper">
    <ul class="solutions__controls">
      <li data-tab="tab-1" class="solutions__item active">bim design and engineering teams</li>
      <li data-tab="tab-2" class="solutions__item">client and developer teams</li>
      <li data-tab="tab-3" class="solutions__item">general contractor and contractor teams</li>
    </ul>
    <div class="solutions__tabs">
      <section id="tab-1" class="tab-content">
        <div class="tab-content__header">
          <h2>BIM design and engineering teams</h2>
        </div>
        <div class="tab-content__text">
          <p class="solutions__list-title">Use BIM model as the communication and collaboration medium</p>
          <ul>
            <li>Share and view BIM models via browser-based viewer</li>
            <li>Communicate via built-in messaging channel</li>
            <li>Send and receive comments, suggestions, quotes and information requests</li>
            <li>Mark up the BIM model in real time</li>
            <li>Provide fast feedback to clients’ requests</li>
            <li>Iterate and improve design solutions in collaboration with clients, contractors, suppliers and consultants</li>
          </ul>
          <p class="solutions__list-title">Ensure BIM model quality</p>
          <ul>
            <li>Identify and fix errors,omissions and collisions affecting constructability</li>
          </ul>
          <p class="solutions__list-title">Deliver construction-ready BIM models</p>
          <ul>
            <li>Classify BIM models in minutes</li>
            <li>Enable accurate quantity take-offs, cost estimates and project schedules
             </li>
          </ul>
          <p class="solutions__list-title">Design-to-cost</p>
           <ul>
              <li>Check cost and time implications of design solutions with an unprecedented speed and ease</li>
              <li>Help clients to choose the optimal design solution by testing multiple hypotheses</li>
            </ul>
          <a href="kreo-view.html#line">find out how &gt;</a>
        </div>
      </section>
      <section id="tab-2" class="tab-content">
       <div class="tab-content__header">
        <h2>Client and developer teams</h2>
      </div>
      <div class="tab-content__text">
          <p class="solutions__list-title">Perform full pre-construction analysis within days, not months</p>
          <p class="solutions__list-title">Refine and optimise cost budget and project schedule</p>
          <ul>
            <li>Produce BIM quantity take-offs, cost estimates, Gantt charts, 4D/5D models within days, not months</li>
          </ul>
          <p class="solutions__list-title">Get instant pre-tender estimates</p>
          <ul>
            <li>Full integration with internal and 3rd party cost databases</li>
            <li>Automated quantity take-off and cost estimation</li>
          </ul>
          <p class="solutions__list-title">Streamline bid management process</p>
          <ul>
            <li>Optimise work packages</li>
            <li>Run RFQs, RFPs and tenders online</li>
            <li>Reduce time and cost burden of running tenders</li>
            <li>Online bid submission</li>
            <li>Automated bid comparison, ranking and evaluation</li>
          </ul>
          <p class="solutions__list-title">Use 3D/4D/5D BIM models as the communication and collaboration medium</p>
          <ul>
            <li>BIM model-based RFIs, comments, quotes and suggestions</li>
            <li>Easy to follow threads, logging and notifications</li>
          </ul>
        <a href="kreo-plan.html#line">find out how &gt;</a>
      </div>
    </section>
    <section id="tab-3" class="tab-content">
      <div class="tab-content__header">
        <h2>General contractor and contractor teams</h2>
      </div>
      <div class="tab-content__text">
          <p class="solutions__list-title">Reduce bidding costs</p>
          <ul>
            <li>Produce BIM quantity take-offs, cost estimates, Gantt charts, 4D models within days, not months</li>
          </ul>
          <p class="solutions__list-title">Improve bid quality and accuracy</p>
          <ul>
            <li>Automated BIM model quality/accuracy checking and reporting</li>
          </ul>
          <p class="solutions__list-title">Identify value-engineering opportunities</p>
          <ul>
            <li>Test main project cost and duration drivers through collaborative effort of BIM design, cost estimating, scheduling and bid management teams
              <ul class="second-lvl">
                <li>Iterate construction methods, productivity factors, resource levelling, resource utilization, activity sequencing</li>
              </ul>
            </li>
          </ul>
          <p class="solutions__list-title">Identify risks</p>
          <ul>
            <li>Run multiple ‘What-if’ scenarios to identify risk impact of key cost and project duration drivers</li>
          </ul>
          <p class="solutions__list-title">Improve the profit margins on bids</p>
          <ul>
            <li>Spend more time on extensive quality checks, optimisations, risk analysis and value engineering to make sure that your bids will be profitable</li>
            <li>Improve the quality and transparency of project  risk provisions</li>
          </ul>
          <p class="solutions__list-title">Streamline bid management process</p>
          <ul>
            <li>Automate work packaging</li>
            <li>Optimise work packages</li>
            <li>Launch RFQs, RFPs and tenders online with confidence</li>
            <li>Reduce time and cost burden of running tenders</li>
            <li>Help your contractors and suppliers make fast and well-informed decisions by providing full access to their work package information online
              <ul class="second-lvl">
                <li>3D/4D/5D models</li>
                <li>BOQs, Gantt chart and 4D visualisation of the work package</li>
              </ul>
            </li>
            <li>Online bid submission</li>
            <li>Automated bid comparison, ranking and evaluation</li>
          </ul>
          <p class="solutions__list-title">Speed up your contract negotiations</p>
          <ul>
            <li>Automated reports ready to export to your contracts
              <ul class="second-lvl">
                <li>BOQs</li>
                <li>Bills of Materials</li>
                <li>Labour, materials and equipment schedules</li>
                <li>Cashflow forecasts</li>
                <li>Gantt chart</li>
                <li>Critical path</li>
                <li>Transparent risk provisioning</li>
                <li>Transparent project float</li>
              </ul>
            </li>
          </ul>
          <p class="solutions__list-title">Use 3D/4D/5D BIM models as the communication and collaboration medium</p>
          <ul>
            <li>BIM model-based RFIs, comments, quotes and suggestions</li>
            <li>Easy to follow threads, message logging and notifications</li>
          </ul>
        <a href="kreo-plan.html#line">find out how &gt;</a>
      </div>
    </section>
</div>
</div>
</div>
</section>
