<section class="solutions">
  <div class="solutions__inner container">
    <h2 class="solutions__title side-line">solutions</h2>
    <ul class="solutions__controls">
      <li data-tab="tab-1" class="solutions__item active">BIM Design teams</li>
      <li data-tab="tab-2" class="solutions__item">Quantity Surveyors & Cost Estimators</li>
      <li data-tab="tab-3" class="solutions__item">Project managers & Planners</li>
      <li data-tab="tab-4" class="solutions__item">Contact Manager & Bid Managers</li>
    </ul>
    <div class="solutions__tabs">
      <section id="tab-1" class="tab-content">
        <div class="tab-content__header">
          <h2>BIM Design teams</h2>
        </div>
        <div class="tab-content__text">
          <ul>
            <li>Share your BIM model with your team and inviting other stakeholder</li>
            <li>Improve collaboration and communication with your team online
            via built-in chat channel </li>
            <li>Improve design quality by marking up the model and flagging issues and collisions</li>
          </ul>
          <a href="kreo-view.html#line">find out how &gt;</a>
        </div>
        <div class="tab-content__footer">
          <ul>
            <li>Identify and classify BIM model elements in minutes.</li>
            <li>Check the model for errors and omissions.</li>
            <li>Improve the accuracy of measurements and constructability.</li>
          </ul>
        </div>
      </section>
      <section id="tab-2" class="tab-content">
       <div class="tab-content__header">
        <h2>Quantity Surveyors & Cost Estimators</h2>
      </div>
      <div class="tab-content__text">
        <ul>
          <li>Increase your productivity</li>
          <li>Get accure <a href="kreo-view.html#line">bills of quantities</a> and cost estimates in minutes.</li>
          <li>Spend more time on improving the accuracy of the estimates.</li>
          <li>Optimise your cost budget and identify value creation opportunities.</li>
        </ul>
        <a href="kreo-view.html#line">find out how &gt;</a>
      </div>
    </section>
    <section id="tab-3" class="tab-content">
      <div class="tab-content__header">
        <h2>Project Managers & Planners</h2>
      </div>
      <div class="tab-content__text">
        <ul>
          <li>Get your BIM project master schedule in minutes.</li>
          <li>Visualise the construction process with a powerful 4D tool.</li>
          <li>Find the <a href="kreo-view.html#line">optimal balance</a> between cost, time and resource limitations.</li>
          <li>Present and share results with other stakeholders with advanced analytics and <a href="kreo-view.html#line">dashboard</a> features</li>
        </ul>
        <a href="kreo-view.html#line">find out how &gt;</a>
      </div>
    </section>
    <section id="tab-4" class="tab-content">
      <div class="tab-content__header">
        <h2>Contract Manager & Bid Managers</h2>
      </div>
      <div class="tab-content__text">
        <ul>
          <li>Reduce bidding costs and improve the productivity of your team.</li>
          <li>Review and approve baseline budget and schedule with other stakeholders.</li>
          <li>Create and optimise work packages.</li>
          <li>Launch RFQ, RFPs and tenders online.</li>
          <li>Collect bids online, and KREO will compare and rank them for you.</li>
        </ul>
        <a href="kreo-view.html#line">find out how &gt;</a>
      </div>
  </section>
</div>
</div>
</section>
