.solutions
  background-color: #F5F7FA
  &__inner
    padding-top 60px
    padding-bottom 120px
    xs-block(@block{
      padding-bottom 60px
    })
  &__title
    width 100%
    margin-bottom 80px
    padding-left 20px
    font-size 32px
    line-height 40px
    color #37474f
    font-weight 400
    text-transform uppercase
    xs-block(@block{
      margin-bottom 60px
    })
  &__list-title
    margin-bottom 10px
    color #343948
    font-size 16px
    line-height 20px
    font-weight 500
  &__tabs-wrapper
    display flex
    lg-block(@block{
      flex-wrap wrap
    })
  &__controls
    border-radius 3px 0 0 3px
    background: linear-gradient(60deg,#c5ccd6 0%,#e1e7f0 100%)
    box-shadow: 0 10px 30px 0 rgba(51,56,71,0.08)
    lg-block(@block{
      display flex
      flex-grow 1
    })
    xs-block(@block{
      display block
    })
  &__item
    width 370px
    padding 40px
    font-size 16px
    font-weight 400
    line-height 1.2
    text-transform uppercase
    cursor pointer
    lg-block(@block{
      padding 30px 20px
    })
    xs-block(@block{
      height auto
      padding 20px
      line-height 1.2
    })
    &:hover
      background-color: rgba(255,255,255,0.5)
    &.active
      color #F58240
      background-color #fff
    &:first-child
      border-radius 3px 0 0 0
    &:last-child
      border-radius 0 0 0 3px
  &__tabs
    flex-grow 1
    min-height 430px
    & > div
      display none
.tab-content
  height 100%
  box-shadow: 0 10px 30px 0 rgba(51,56,71,0.08)
  &__header
    height 130px
    padding-top 50px
    background linear-gradient(45deg,rgba(73,73,94,.3) 0%,rgba(97,114,134,.2) 100%)
    h2
      position relative
      display inline-block
      vertical-align top
      margin-left 120px
      padding 3px 15px 3px 3px
      font-size 22px
      line-height 28px
      color #fff
      font-weight 400
      xs-block(@block{
        margin-left 40px
      })
  &__text
    background-color #fff
  &__text
    padding-top 35px
    padding-left 40px
    padding-right 40px
    padding-bottom 35px
    xs-block(@block{
      padding 20px
    })
    ul
      margin-bottom 10px
      li
        position relative
        padding-left 20px
        color #343948
        font-size 16px
        line-height 20px
        font-weight 400
        xs-block(@block{
          line-height 1.5
        })
        &::before
          position absolute
          content ''
          left 0
          top 8px
          width 6px
          height 6px
          background-color: #F58240
          border-radius 50%
    .second-lvl
      li
        padding-left 10px
        color #748091
        font-size 14px
        line-height 16px
        &::before
          display none
    a
      display block
      padding-top 20px
      color #5C8AE6
      font-size 14px
      line-height 24px
      font-weight 600
      text-transform uppercase
      text-align center
  &__footer
    background-color: #F5F7FA
.tab-content:first-child
  background: url("https://www.kreo.net/hubfs/kreo_new/static/img/content/quantity_surveyors.png") center top no-repeat
  background-size 100% 130px
.tab-content:nth-child(2)
  background: url("https://www.kreo.net/hubfs/kreo_new/static/img/content/project_managers_planners.png") center top no-repeat
  background-size 100% 130px
.tab-content:nth-child(3)
  background: url("https://www.kreo.net/hubfs/kreo_new/static/img/content/bim_professionals.png") center top no-repeat
  background-size 100% 130px
// .tab-content:last-child
//   background: url("https://www.kreo.net/hubfs/kreo_new/static/img/content/contract_managers_bid_managers.png") center top no-repeat
//   background-size 100% 130px

